body{
font-family: "Helvetica Neue",Helvetica,Tahoma,Arial,"PingFang SC","微软雅黑","Microsoft Yahei",Montserrat,"Heiti SC","黑体";
font-size: 1rem;
line-height: 1.5;
margin: 0px;
}
div{
	width: 89%;
	opacity: 1;
}
img:hover{
	opacity: 1;/*鼠标移动到图片上时会有高亮效果*/
}
img{
	opacity: 0.95;
}
a:link{
	color: black;
	text-decoration: none;
}
a:visited{
	font-weight: 600;
	color: black;
}
a:hover{
	color: red;
}
.headimg{
margin-left: 33%;
width: 100%;
height: 100%;
}
.head_line{
	border-bottom: 4px groove #333;
	background-color:#000000;
	margin: auto;
}
.head_line B{
	color: #FFFFFF;
}
.head_line a{
	margin-left: 40px;
}
#nav_and_search_bar{
border-top: 4px groove #333;
margin: auto;
margin-top: -8px;
background-color: black;
height: 32px;
z-index: 1;
}
#nav_and_search_bar_1{
opacity: 0;
border-top: 4px groove #333;
margin-left: 5.5%;
position: fixed;
z-index: 999;
background-color: black;
height: 32px;
}
#nav_and_search_bar B{
color: white;
font-size: larger;
}
#nav_and_search_bar_1 B{
color: white;
font-size: larger;
}
.search_bar{
	float: right;
	width: 225px;
	margin-top: 2px;
}
.nav_1 li{
position: relative;
float: left;
list-style: none;
word-spacing:22px;
}

.img_and_list{
	margin: auto;
}
.banner_img{
	border-style: outset; 
	float: left;
	width: 75%;
	height: 480px;
}
.bannerContent{
    position: relative;
    float: left;
    width: 70%;
    height: 480px;
    overflow: hidden;
}
.bannerLeft{
	height: 480px;
	width: 100%;
	overflow: hidden;
	position: absolute;
}
.switch-box{
	width: 30%;
	float: left;
	height: 480px;
}
.bannerRight {
	height:160px;
	width:100%;
	overflow:hidden;
	position:relative;
}
.banner_pic{
	height: 100%;
	width: 100%;
	position:relative;
}
.bannerLeft_title {position:absolute;top:420px;color:white;font-size: large;font-weight: 900;left: 7%;}
.bannerRight_title {position:absolute;top:0px;padding:50px 10px 0px 10px;color:white;}
.bannerRight_mask {position:absolute;top:0px;opacity:0.4;background-color:black;height:100%;width:100%;}
.bannerRight_mask:hover{
	opacity: 0;
}

.aside_list{
	float: left;
	height: 480.4px;
	width:23.8%;
	border-style: outset; 
	background-color: RGB(255,255,255,0.6);
	}
.aside_list ul{
	margin: -1% 0 0 -6%;
	list-style: none;
	}
.aside_list a{
	font-weight: 600;
	}
.info_header{
	height:30px;
	border-bottom:2px solid #aaa;
	width: 90%;
}
.info_header_left{
	float: left;
	font-size: 1.285rem;
	font-weight: 700;
	width: 80%;
	line-height: 30px;
	border-bottom: 2px solid #333;
}
.info_header_right{
	float: right;
	line-height: 35px;
	width: 20%;
}
.info_header_right B{
	color: #120a0a66;
	font-weight: 400;
}
.newest_news{
	margin: auto;
}
.newest_news_head{
	text-align: center;
	background-color: black;
	color: white;
	font-size: 30px;
	font-family:黑体;
	width: 100%;
}
.item_box{
	width: 54.5%;
	float: left;
}
.item_box_x {
	background-color: RGB(255,255,255,.6);
	height: 250px;
	border-style: outset; 
	width: 100%;
}
.item_pic{
	width: 40%;
	opacity: 0.9;
}
.item{
	width: 40%;
	float: left;
	font-size: 14px;
}
.item h1{
	margin: auto;
}
.touch_hot{
	width: 44.7%;
	float: left;
	border-style: outset; 
	background-color: RGB(255,255,255,.6);
	margin-left: 0.2%;
}
.touch_hot 	ul li{
	overflow: hidden;
	list-style: none;
}
.super_link B{
	color: red;
}
.super_link{
	width: 80%;
	margin: auto;
}
.super_link ol{
	margin-left: -20px;
}
/* ---- stars.js ---- */

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}


/* ---- particles.js container ---- */

canvas{
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: -1;
  position: fixed;
}
